.main_visual {
  position: relative;
  .main_slide {
    .itm {
      position: relative;
      height: 800rem;
    }
    .main_slide_hb {
      background: url(../images/main_visual_01.jpg) no-repeat top center/cover;
      p {
        width: 350rem;
      }
    }
    .main_slide_hk {
      background: url(../images/main_visual_02.jpg) no-repeat top center/cover;
    }
    .slogan {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;

      h2 {
        position: relative;
        font-size: 48rem;
        font-weight: 700;
        color: $color-white;

        &::after {
          content: "";
          display: block;
          width: 160rem;
          height: 2rem;
          margin: 24rem 0 24rem 0;
          background: $color-white;
        }
      }

      p {
        font-size: 18rem;
        font-weight: 300;
        color: $color-white;
        line-height: 24rem;
      }
    }
  }

  .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1440px;
    width: 100%;
    padding: 0 15px;
    z-index: 999;

    .left {
      position: absolute;
      left: 0;
      font-size: 56rem;
      color: rgba($color: $color-white, $alpha: 0);
      cursor: pointer;
      transition: 0.5s;
    }

    .right {
      position: absolute;
      right: 0;
      font-size: 56rem;
      color: rgba($color: $color-white, $alpha: 0);
      cursor: pointer;
      transition: 0.5s;
    }
  }

  .dots {
    display: flex;
    gap: 50rem;
    align-items: center;
    position: absolute;
    top: 65%;
    left: 410rem;
    transform: translate(-50%, -50%);
    z-index: 998;

    li {
      position: relative;
      cursor: pointer;
      span {
        color: $color-white;

        &::before {
          content: "";
          position: absolute;
          bottom: -60%;
          left: 0;
          width: 50rem;
          height: 2px;
          background: #777;
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -60%;
        left: 0;
        width: 0;
        height: 2px;
        background: #fff;
      }

      &.on {
        &::after {
          width: 50rem;
          transition: 6s;
        }
      }
    }
  }

  &:hover {
    .arrows {
      .left {
        color: rgba($color: $color-white, $alpha: 1);
      }
      .right {
        color: rgba($color: $color-white, $alpha: 1);
      }
    }
  }

  @include res() {
    .main_slide {
      .itm {
        height: 520rem;
      }
      .main_slide_hb {
        background: url(../images/main_visual_01.jpg) no-repeat 65% top/cover;
        p {
          width: auto;
        }
      }
      .main_slide_hk {
        background: url(../images/main_visual_02.jpg) no-repeat 65% top/cover;
      }
      .slogan {
        position: absolute;
        top: 75%;
        text-shadow: 0 0 3px #000;
        h2 {
          font-size: 32rem;
          font-weight: 700;
          color: $color-white;

          &::after {
            content: "";
            display: block;
            width: 160rem;
            height: 2rem;
            margin: 16rem 0 16rem 0;
            background: $color-white;
            box-shadow: 0 0 3px #000;
          }
        }

        p {
          font-size: 16rem;
          font-weight: 300;
          color: $color-white;
          line-height: 22rem;
        }
      }
    }

    .arrows {
      position: absolute;
      top: 92%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      padding: 0 15px;
      z-index: 998;

      .left {
        position: static;
        font-size: 32rem;
        color: rgba($color: $color-white, $alpha: 1);
        cursor: pointer;
        transition: 0.5s;
      }

      .right {
        position: static;
        font-size: 32rem;
        color: rgba($color: $color-white, $alpha: 1);
        cursor: pointer;
        transition: 0.5s;
      }
    }

    &:hover {
      .arrows {
        .left {
          color: rgba($color: $color-white, $alpha: 1);
        }
        .right {
          color: rgba($color: $color-white, $alpha: 1);
        }
      }
    }

    .dots {
      top: 58%;
      left: 53rem;

      li {
        span {
          font-size: 12rem;
        }
      }
    }
  }
}
