.main_hanbok_sct {
  background-image: url(../images/section_05_bg.jpg);
  background-repeat: no-repeat;
  background-position: 100% -10%;
  background-size: 45%;
  background-attachment: fixed;
  .inner {
    padding: 320rem 15rem;
    h2 {
      margin: 0 0 40rem 0;
      font-size: 40rem;
      font-weight: 700;
      width: 600rem;
    }
    p {
      margin: 0 0 16rem 0;
      width: 400rem;
      line-height: 22rem;
    }
  }

  @include res() {
    position: relative;
    background-position: center top;
    background-size: cover;

    .inner {
      position: relative;
      padding: 120rem 15rem;
      z-index: 998;
      h2 {
        width: auto;
        font-size: 32rem;
        color: $color-white;
      }
      p {
        width: auto;
        color: $color-white;
      }
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0 0 0 0;
      background: rgba(0, 0, 0, 0.35);
    }
  }
}
